doctype html
html(lang="zh-cn")
    head
        title 一个简洁的pug模板
        meta(charset="UTF-8")
        meta(name='keywords' content='一个简洁的pug模板')
        meta(name='description' content='一个简洁的pug模板')
        script(src=require("../script/index.js"))
        link(href=require('../style/index.scss') rel='stylesheet')
    body
        div hello,world























